.header-div {
	background-image: url('../images/beachfire.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    position: relative;
}

#text-div {
	
}

#playlist-list {
	
}

#title-head {
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	color: white;
	text-shadow: 2px 2px #ff0000;
}